!.idea
.idea/*
!.idea/jsLinters
!.idea/jsLinters/*
!.idea/jsLinters/eslint.xml
!.idea/modules.xml
!.idea/*.iml
.pnpm-store/
.vscode/
.yarn/
coverage/
node_modules/
out/
playwright/.cache/
playwright-report/
test-results/
.DS_Store
.env
.pnp.*js
*.db
*.heapsnapshot
*.log
*.tsbuildinfo
