$fg-color: #000000;
$bg-color: #e6e6e6;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: $bg-color;
    color: $fg-color;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1rem;
}

thead tr {
    text-align: left;
}

th:not(:first-child), td:not(:first-child) {
    padding-left: 2rem;
}

td {
    vertical-align: top;
}

td.number {
    text-align: right;
}

tr.monospace {
    font-family: monospace;
    font-size: 1.05rem;
    white-space: pre-wrap;

    td {
        padding-top: 0.33rem;
        padding-bottom: 0.33rem;
    }
}
